*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "sf-pro-display";
  src: url("../fonts/SF-Pro-Display-Regular.woff2") format("woff2"),
    url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "sf-pro-display";
  src: url("../fonts/SF-Pro-Display-Bold.woff2") format("woff2"),
    url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "spaceagecyrillic";
  src: url("../fonts/spaceagecyrillic-regular.woff2") format("woff2"),
    url("../fonts/spaceagecyrillic-regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 20px 45px;
}

.title {
  font-family: "spaceagecyrillic";
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
  padding: 100px 0;
}

body {
  color: #fff;
  font-family: "sf-pro-display";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  font-family: "sf-pro-display";
}

.header {
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0 20px;
}

.menu__list {
  display: flex;
}
.menu__item {
  margin-right: 30px;
}
.menu__link {
  text-transform: uppercase;
  font-family: "sf-pro-display";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  transition: color 0.5s;
}

.menu__link:hover {
  color: #cb0e0e;
}

.phone {
  margin-left: auto;
  font-family: "sf-pro-display";
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}
.login {
  margin: 0 134px 0 22px;
  cursor: pointer;
}

.header__content {
  max-width: 600px;
}
.header__title {
  font-family: "spaceagecyrillic";
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 15px;
}

.header__title span {
  font-family: "spaceagecyrillic";
  font-size: 110px;
  font-weight: 400;
}

.header__text {
  display: flex;
  justify-content: space-between;
  flex: wrap;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 50px;
}
.header__btn {
  text-transform: uppercase;
  font-family: "sf-pro-display";
  font-size: 24px;
  line-height: 29px;
  width: 100%;
  text-align: center;
  padding: 15px 10px 16px;
  border: 1px solid #fff;
  cursor: pointer;
}

.header__description {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 5%;
}
.heder__description-text {
  width: 165px;
  font-size: 14px;
  line-height: 17px;
}

.heder__description-text + .heder__description-text {
  margin-left: 50px;
}

.about {
  background-image: url(../images/abuot-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about__img {
  max-width: 100%;
}

.about__item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 150px;
}

.about__item:nth-child(odd) {
  flex-direction: row-reverse;
}

.about__content {
  width: 601px;
}
.about__content-title {
  font-family: "sf-pro-display";
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.about__content-subtitle {
  font-family: "sf-pro-display";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  color: #036cca;
  margin-bottom: 30px;
}
.about__text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.about__text p {
  width: 165px;
}

.about__table {
  margin-bottom: 50px;
}

.about__table-caption {
  caption-side: bottom;
  text-align-last: left;
  margin-top: 20px;
  font-size: 12px;
  line-height: 14px;
}

.about__table-tr {
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
}
.about__table-td {
  padding: 10px 30px 10px 0;
}

.about__table-tr + .about__table-tr {
  font-size: 36px;
  line-height: 43px;
  font-weight: bold;
  text-align: center;
}

.about__table-td span {
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  display: block;
}

.how-to {
  background-image: url(../images/how-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.how-to__box {
  text-align: center;
}

foreignObject {
  text-align: left;
}

g {
  font-size: 18px;
  line-height: 21px;
}

.how-to__box circle,
.how-to__box text,
.how-to__box foreignObject {
  transition: all 0.5s;
  cursor: pointer;
}

.how-to__box g:hover circle,
.how-to__box g:hover text {
  r: 20px;
  fill: #036cca;
  font-size: 32px;
}

.how-to__box g:hover foreignObject {
  color: #036cca;
  font-size: 26px;
}

.how-to__box-list{
  display: none;
}

.to-book {
  background-image: url(../images/to-book-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 100vh;
}

.to-book__inner {
  display: flex;
  justify-content: space-between;
}

.to-book__text {
  font-size: 14px;
  line-height: 17px;
  width: 165px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: 52px;
}

.to-book__text + .to-book__text {
  margin-left: 0;
  margin-right: 0;
}

.info {
  background-image: url(../images/info-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-bottom: 100px;
}
.special-offer {
}

.special-offer__inner {
  display: flex;
  justify-content: space-between;
}
.special-offer__item {
  width: 500px;
}
.special-offer__item-box {
  min-height: 400px;
  padding: 40px 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #fff;
  margin-bottom: 25px;
  text-align: center;
}
.special-offer__item-text {
  width: 236px;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  line-height: 29px;
}

.special-offer__item-text span {
  color: #cb0e0e;
}

.special-offer__old-price {
  margin-bottom: 15px;
  text-align: right;
  font-size: 14px;
  line-height: 17px;
  position: relative;
}

.special-offer__old-price::before {
  content: "";
  position: absolute;
  background-color: #cb0e0e;
  height: 1px;
  width: 68px;
  top: 7px;
  right: 0;
  transform: rotate(15deg);
}

.special-offer__new-price {
  font-size: 48px;
  line-height: 57px;
}

.special-offer__btn {
  width: 100%;
}

.services {
  margin-bottom: 200px;
}

.services__inner {
  display: flex;
  justify-content: space-between;
}
.services__box-list {
  width: 622px;
  margin-right: 80px;
  font-size: 24px;
  line-height: 29px;
}

.services__list-title {
  margin-bottom: 25px;
}

.services__list {
  list-style: none;
  margin-bottom: 25px;
}

.services__list-item {
  padding-left: 36px;
  position: relative;
}

.services__list-item::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  left: 0;
  top: 5px;
}

.services__description {
  font-size: 12px;
  line-height: 14px;
}

.services__buttons {
  width: 500px;
}

.serv__btn {
  width: 100%;
}

.serv__btn--first {
  margin-bottom: 50px;
  position: relative;
}

.serv__btn--first::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 43px;
  background-image: url(../images/foto.png);
  width: 192px;
  height: 150px;
}

.slider {
  text-align: center;
}

.slider__inner {
  margin-bottom: 50px;
  border: 1px solid #fff;
  padding: 100px 0;
}
.slider__box {
}

.slider__box-item {
}

.slider__box-img {
  margin: 0 auto;
}

.slider__description {
  font-family: "spaceagecyrillic";
  font-size: 24px;
  line-height: 30px;
}

.slider__arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 5;
  padding: 2em;
  margin: -2em;
}

.slider__arrow-left {
  left: 75px;
}

.slider__arrow-right {
  right: 75px;
}

.contacts {
  background-color: #010203;
  padding-bottom: 100px;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
}

.contacts__box {
  width: 500px;
}

.contacts__title {
  padding-bottom: 46px;
}

.contacts__box-text {
  margin-bottom: 80px;
  font-family: "sf-pro-display";
  font-size: 24px;
  line-height: 29px;
  width: 450px;
}

.contacts__form-input {
  font-family: "sf-pro-display";
  font-size: 14px;
  line-height: 17px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding: 20px 0;
  width: 100%;
  margin-bottom: 30px;
}

.contacts__form-input::placeholder {
  font-family: "sf-pro-display";
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.contacts__btn {
  margin-top: 70px;
  width: 100%;
}

.contacts__guarantees {
  width: 600px;
}

.contacts__guarantees-text {
  font-family: "sf-pro-display";
  font-size: 24px;
  line-height: 29px;
}

.contacts__guarantees-img {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  padding-top: 20px;
}

.footer {
  background-image: url(../images/footer-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 150px;
}

.footer__inner {
  display: flex;
  justify-content: flex-end;
}

.footer__text {
  width: 165px;
  margin-right: 50px;
}

.footer__text p + p {
  margin-top: 50px;
}

.footer__menu {
  list-style: none;
  width: 120px;
  margin-right: 90px;
}
.footer__menu-item,
.footer__links-item {
  margin-bottom: 20px;
}

.footer__menu-link,
.footer__links-link {
  text-transform: uppercase;
  transition: all 0.5s;
}

.footer__menu-link:hover,
.footer__links-link:hover {
  color: #cb0e0e;
}

.footer__links {
  list-style: none;
  width: 165px;
}

.menu-btn {
  display: none;
  width: 40px;
  padding: 0;
  position: relative;
  z-index: 20;
  height: 30px;
}
.menu-btn span{
  display: block;
  height: 2px;
  background-color: #fff;
  position: relative;

  
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  height: 2px;
  width: 40px;
  background-color: #fff;
  position: absolute;
  left: 0;
}

.menu-btn span::before{
 top: -10px;
}

.menu-btn span::after {
top: 10px;
}



@media (max-width: 1160px){

.about{
  text-align: center;
}

  .about__item {
    display: block;
    padding-bottom: 90px;
  }

  .about__content {
    width: 100%;
  }

  .about__text{
    display: block;
  }
  .about__text p {
    width: 100%;
margin-bottom: 20px;
  }

  .about__img {
    margin-bottom: 40px;
  }
  .about__table {
    width: 100%;
  }

}

@media (max-width: 1050px) {
  .special-offer__inner {
    display: block;
  
  }
  .special-offer__item {
    width: 100%;
  
  }
  .special-offer__btn{
    margin-bottom: 50px;
  }

  .contacts__inner {
    display: block;
  }
  .contacts__box {
    width: 100%;
  }

  .contacts__guarantees {
    margin: 0 auto;
  }

}


@media (max-width: 1000px){

  .how-to__box svg {
    display: none;
  }
  
  .how-to__box-list{
    display: block;
    list-style-type:none
   
    
  }
  
  
  .how-to__box-item{
    padding-bottom: 30px;
    text-align: left;
    padding-left: 20px;
    margin-left: 20px;
    position: relative;
    border-left: 1px solid #fff;
  }
  
  .how-to__box-item:last-child{
    border-left:  none;
  }
  
  .how-to__box-item::before{
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
  }

  .login {
    margin-right: 0;
  }

  .to-book__inner{
    display: block;
  }
  .to-book__text {
    margin: 0 0 25px 0;
    width: 100%;
    
  }

  .how-to__box {
    width: 80%;
  }
}

@media (max-width: 895px){
  .header__top{
    padding-top: 30px;
  }
  .menu-btn {
    display: block;

  }

  .menu__list{
    transform: translateY(-150%);
    transition: all .5s;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #010203;
    width: 100%;
    padding-top: 90px;
    text-align: center;
  }

  .menu__list.active{
    transform: translateY(0);
  }

  .menu__item{
    padding: 15px 0;
  }
  .menu__link {
    display: block;
  }
  .phone,
  .login{
    position: relative;
    z-index: 20;
  }

  .header__content {
    margin: 0 auto;
  }
  .header__description{
    justify-content: center;
  }
  .header{
    background-position: center right;
  }



.services__inner{
  display: block;
}
.services__box-list {
  width: 100%;
  margin-right: 0;
  margin-bottom: 160px;
}
.services__buttons {
  
  width: auto;
  margin: 0 auto;
}
.slick-slide img {
  max-width: 100%;
}

}

@media (max-width: 720px){
  .services {
    margin-bottom: 50px;
  }
  .slider__inner {
    padding: 0;
  }
  .slider__description {
    font-size: 18px;
    line-height: 24px;
  }
  .info {
    padding-bottom: 50px;
  }

}

@media (max-width: 620px) {

.to-book{
  background-position: top right;
}

  .header__title{
    font-size: 34px;
    line-height: 30px;
  }

.header__title span{
  font-size: 60px;
}

.header__content{
  text-align: center;
}

.header__text{
  justify-content: center;
  font-size: 18px;
  
}

.header__text p{
  padding: 0 10px;
}

.header__btn{
  font-size: 18px;
  line-height: 24px;
  width: 60%;
}
.header__description {
  display: block;

}

.heder__description-text {
  width: 100%;
  text-align: center;
}

.heder__description-text + .heder__description-text {
  margin-left: 0;
  margin-top: 20px;
}

.title{
  padding: 50px 0;
  font-size: 38px;
  line-height: 38px;
}

.about__item {
  padding-bottom: 50px;
}

.about__table-tr:first-child{
  display: none;
}

.about__table-td {
  display: block;
  text-align: right;
  border-bottom: 1px solid #fff;
}

.about__table-td:last-child{
  border: none;
}

.about__table-td::before {
  content: attr(aria-label);
  float: left;
}

.about__table-td span {
  display: inline-block;
  
}

.about__table-tr + .about__table-tr {
  font-size: 20px;
  line-height: 22px;
  font-weight: normal;

}

.contacts__guarantees-img{
  width: 100%;
}

.contacts__guarantees{
  width: 100%;
}

}

@media (max-width: 570px){
  .footer {
    padding: 50px 0 50px;
  }

  .footer__inner {
    display: block;
  }
  .footer__text{
    width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .footer__text p + p {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .footer__menu,
  .footer__links {
    margin-right: 0;
    width: 100%;
    text-align: center;
  }
  
  .footer__menu{
    margin-bottom: 40px;
  }
}


@media (max-width: 480px){
  .title{
    font-size: 28px;
    line-height: 28px;
  }
  .special-offer__new-price {
    font-size: 34px;
    line-height: 44px;
  }

  .services__box-list {
  
    font-size: 18px;
    line-height: 22px;
  }
  .special-offer__item-box{
    padding: 20px 15px;
  }
  .serv-title,
  .to-book__title {
    font-size: 24px;
    line-height: 28px;
  }
  .slider__arrow {
    display: none !important;
  } 

  .contacts__box-text{
    width: 100%;
  }

  .how-to {
    padding-bottom: 35px;
  }

}



@media (max-width: 360px) {
  .header__top{
    flex-wrap: wrap;
  }

  

  .phone{
    width: 100%;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
  }

  .menu,
  .login{
    order: -1;
  }
  .menu__list{
    padding-top: 120px;
  }

  .header__title{
    font-size: 28px;
  }

  .header__title span {
    font-size: 32px;
  }

  .header__btn{
    font-size: 16px;
    width: 100%;
  }
 
}

@media (max-width: 359.5px) {
  .serv__btn--first::before {
    bottom: 62px;
    }
}

